@model  PhoneBook.Models.PhoneBooks; 

@{
    ViewData["Title"] = "Create";
    Layout ="~/Views/Shared/_Layout.cshtml";
   
}

<h4> @ViewBag.PageName </h4>
<div class="row">
    <div class="col-md-6">
        @if(Model != null)
        {
        <form asp-action="EditOrAdd"  method="post">
            @if (@ViewBag.IsEdit)
            {
                <input type="hidden" asp-for="Id" />
            }

           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name , new{@class = "control-label"})               
                 @Html.EditorFor(model => model.Name , new{@class = "form-control"})
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber , new{@class = "control-label"})               
                 @Html.EditorFor(model => model.PhoneNumber , new{@class = "form-control"})
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                 <input class="btn btn-primary" type="submit" value="Save" />
                 <a class="btn btn-danger" asp-action="Index">Back</a>
            </div>
        </form>
        }
        @if (Model == null)
        {
        <form asp-action="EditOrAdd" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name , new{@class = "control-label"})               
                 @Html.TextBoxFor(m => m.Name , new{@class = "form-control"})
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber , new{@class = "control-label"})               
                 @Html.TextBoxFor(m => m.PhoneNumber , new{@class = "form-control"})
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
             
            <div class="form-group">
                 <input class="btn btn-primary" type="submit" value="Add" />
                 <a class="btn btn-danger" asp-action="Index">Back</a>
            </div>
        </form>
        }
    </div>
</div>
